.brandLogo {
    padding-left: 6em;
}

.myaccountTag {
    padding-right: 2em;
}

.logintag {
    padding-right: 2em;
}

.searchButton {
    padding-right: 6em;
}

.topheader {
  	font-family: 'Gotham-Book';
  	color: white;
    background-color: #37384D;
}

.logo{
	width: 100px;
}

.unique{
	font-family: 'Gotham-Book';
  	color: white;
}