.brandLogo {
	padding-left: 4em;
}

.myaccountTag {
	padding-right: 2em;

}

.logintag {
    padding-right: 2em;
}

.searchButton {
    padding-right: 6em;
}

.topheader {
  	font-family: 'Gotham-Book';
  	color: white;
    background-color: #37384D;
}

.logo{
	height: 8vh;
}

.unique{
	font-family: 'Gotham-Book' !important;
  	color: black !important;
}

.white{
	font-family: 'Gotham-Book' !important;
  	color: black !important;

}

.myaccountTag{
	color: white !important;
	font-family: 'Gotham-Book' !important;
}

#dropdown-menu-align-right {
	color: white !important;
}