.brandLogo {
    padding-left: 6em;
}

.myaccountTag {
    padding-right: 2em;
}

.logintag {
    padding-right: 2em;
}

.searchButton {
    padding-right: 6em;
}

.topheader {
    
    font-family: 'Righteous', cursive;
}
