.nextupAddsong {
    background-color: #2C2C3B;

    min-height: 46vh;
    font-family: 'Gotham-Book';
    text-align: center;
    color: white;
}

.nextup {
    padding-left: 0; 
    padding-right: 0;
    padding-top: 2vh;
    font-family: 'GothamNarrow-Black' !important;
    color: white !important;
}

.nextupSection {
    padding-left: 0; 
    padding-right: 0;
    padding-top: 2vh;
    height: 46vh;
    font-family: 'GothamNarrow-Black' !important;
    color: white !important;
    overflow-y: scroll;
}

.bigF{
	 font-family: 'GothamNarrow-Black'!important;
	 color: white !important;
}