.nextupAddsong {
    background-color: whitesmoke;
    min-height: 46vh;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.nextup {
    padding-left: 0; 
    padding-right: 0;
    padding-top: 2vh;
}