#addGroupBtn {
    margin-top: 2em;
    margin-bottom: 2em;
    color: white;
}

.fullsize {
    width:100%;

}

#fixedspacing {
    margin-top: 1em;
    
}

.btnAddPlaylist {
    margin-top: 1em;
    background-color: #3B25F5;
    color: white;
    font-family: 'Gotham-Book';
    border: none;
}

.btnAddPlaylist:hover {
    background-color: white;
    color:  #3B25F5;
    border: none;
}

.input{
    font-family: 'Gotham-Book';
}