#mygroups {
    background-color: whitesmoke;
    min-height: 92vh;
    font-family: 'Playfair Display', serif;
    padding-top: 5vh;
}

.nowplaying {
    background-color: whitesmoke;
    font-family: 'Playfair Display', serif;
    min-height: 52vh;
    padding-top: 5vh;
    text-align: center;
}

#chat {
    background-color: whitesmoke;
    padding-top: 5vh;
    min-height: 92vh;
}